# Xcode user-specific files
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# Xcode build artifacts
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (keep if you do NOT commit Pods)
Pods/

# Carthage
Carthage/Build/

# Fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store
